.squared-image {
    aspect-ratio: 1;
    background-color: rgba($dark, .6);
    border-radius: $border-radius;   
}

img.squared-image{
    padding: .1rem;
    object-fit: cover;
    object-position: center;
}