.profile-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-accordion {

    .accordion-button {
        span {
            display: inline-block;
            width: 80%;
        }
    }

    form {
        display: flex;
        padding: 1rem;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .private-container .input-group {
        // .form-control,
        // .form-select {
        //     flex: none;
        // }

        .form-select {
            width: fit-content;
        }
    }
}