.accordion-container {
    
    .accordion-body {
        background: $success;
        width: 100%;
        height: 100%;
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease-in-out;
    }

    // .accordion-button {
    //     width: 100%;
    // }

    .accordion-state-checkbox:checked~label>.accordion-button {
        &::after {
            transform: rotate(-180deg);
        }
    }

    .accordion-state-checkbox:checked~.accordion-body {
        height: 150px;
    }
}