.offers {
    width: 100%;
    height: 450px;
    background-image: url(./App/Customer/Homepage/Sections/Offers/offers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.subscriptions {
    width: 100%;
    // font-family: $fallback-font;
    font-size: 16px;

    .subscription-item {
        height: fit-content;
        border-radius: $border-radius;
        background-color: $light;
        opacity: .8;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        .subscription-name {
            font-size: 1.6rem;
        }
    }

    .subscription-item:nth-child(2) {
        width: 30%;
        background-color: $warning;
        opacity: 1;

        .subscription-name {
            font-size: 2.5rem;
            line-height: 1;
            font-weight: bold;
            background: linear-gradient(to top left, $dark, $primary);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .subscription-price {
            font-size: 1.5rem;
            color: $dark;
            opacity: .7;
        }

        .checkbox {
            input:checked+label {
                &::before {
                    background-color: $primary;
                    border-color: $primary;
                }
            }
        }
    }

    .subscription-pack-items {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .subscription-pack-item {
        font-size: .9rem;
    }

    .subscription-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 80%;
    }

    .subscription-item:nth-child(1) {
        .subscription-pack-items {
            color: rgba(0, 0, 0, .6)
        }
    }
}