.page-preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: $dark;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 100px;
        width: 100px;
        fill: $warning;
    }
}