$main_bg: #f2edf3;
$body_bg: #fff;

.dashboard-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 20% 80%;
    grid-template-rows: 5rem calc(100vh - 5rem);
    background-color: $body_bg;
    
    .sidebar-container {
        grid-column: 1/2;
        grid-row: 1/3;
        padding: 0 1rem;
    }

    .navbar-container {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0 1rem;
    }

    .main-container {
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: $main_bg;
        padding: 1rem;
        overflow: auto;
        border-radius: $border-radius;
    }
}

.page-empty-container {
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        height: 200px;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
    }
}

thead{
    background-color: $main_bg;
    position: sticky;
    top: -1rem;
    z-index: 10;
}