.add-color-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 2rem;

    .add-color-code .react-colorful{
        height: 10rem;
    }

    .add-product-color-action{
        width: 100%;
        display: flex;
        justify-content: end;
    }
}