.auth-container {
    width: 100vw;
    height: 100vh;
    display: flex;

    .left-side {
        width: 50%;
        height: 100%;
        min-height: 380px;
        @include set-background-image("./App/Admin/Guest/Auth/left-side.jpg");
    }

    .right-side {
        width: 50%;
        height: 100%;

        .static {
            min-height: 60px;
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dynamic {
            min-height: 300px;
            height: 80%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .actions {
            display: flex;
            justify-content: center;
            gap: 1rem;

            .btn {
                text-transform: uppercase;
            }

            .main-button {
                color: $dark;
                background: $warning;
                // font-size: .8rem;
                letter-spacing: 0.12em;
                border-radius: 1.5rem;
            }

            .other-button {
                color: rgba($dark, .6);
                align-self: center;
            }
        }
    }

    .login-container {
        width: 80%;
    }


    .login-container,
    .signup-container,
    .confirmation-container,
    .password-forgotten-container,
    .reset-password-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .login-container,
    .signup-container,
    .password-forgotten-container,
    .reset-password-container {

        .form-floating {
            width: 100%;

            label {
                text-transform: uppercase;
                font-family: $primary-font;
            }
        }

        input {
            border: none;
            border-radius: 0;
            border-bottom: 2px solid #ececec;
            box-shadow: none;
            background-color: transparent;
            transition: border-bottom .3s ease-in-out;
            font-family: $fallback-font;

            &:focus {
                border-bottom: 3px solid $warning;
            }

            &.is-invalid {
                box-shadow: none;
                border-bottom-color: $danger;
            }
        }
    }

    .confirmation-container {
        text-align: center;

        .confirmation-message {
            color: rgba($dark, .6);
        }
    }
}