.product-variant-preview {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: rgba($dark, .4);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 512px;
        height: 512px;
        aspect-ratio: 1;
    }
}